@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist-mono";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-heading: var(--font-mono);
    --font-mono: 'Geist Mono Variable', monospace
  }
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.147 0.004 49.3);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.147 0.004 49.3);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.147 0.004 49.3);
    --primary: oklch(0.553 0.195 38.402);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.96 0.002 17.2);
    --muted-foreground: oklch(0.547 0.021 43.1);
    --accent: oklch(0.96 0.002 17.2);
    --accent-foreground: oklch(0.214 0.009 43.1);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0.005 34.3);
    --input: oklch(0.922 0.005 34.3);
    --ring: oklch(0.714 0.014 41.2);
    --chart-1: oklch(0.865 0.127 207.078);
    --chart-2: oklch(0.715 0.143 215.221);
    --chart-3: oklch(0.609 0.126 221.723);
    --chart-4: oklch(0.52 0.105 223.128);
    --chart-5: oklch(0.45 0.085 224.283);
    --radius: 0.625rem;
    --sidebar: oklch(0.986 0.002 67.8);
    --sidebar-foreground: oklch(0.147 0.004 49.3);
    --sidebar-primary: oklch(0.646 0.222 41.116);
    --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
    --sidebar-accent: oklch(0.96 0.002 17.2);
    --sidebar-accent-foreground: oklch(0.214 0.009 43.1);
    --sidebar-border: oklch(0.922 0.005 34.3);
    --sidebar-ring: oklch(0.714 0.014 41.2)
  }
  .dark {
    --background: oklch(0.147 0.004 49.3);
    --foreground: oklch(0.986 0.002 67.8);
    --card: oklch(0.214 0.009 43.1);
    --card-foreground: oklch(0.986 0.002 67.8);
    --popover: oklch(0.214 0.009 43.1);
    --popover-foreground: oklch(0.986 0.002 67.8);
    --primary: oklch(0.47 0.157 37.304);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.268 0.011 36.5);
    --muted-foreground: oklch(0.714 0.014 41.2);
    --accent: oklch(0.268 0.011 36.5);
    --accent-foreground: oklch(0.986 0.002 67.8);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.547 0.021 43.1);
    --chart-1: oklch(0.865 0.127 207.078);
    --chart-2: oklch(0.715 0.143 215.221);
    --chart-3: oklch(0.609 0.126 221.723);
    --chart-4: oklch(0.52 0.105 223.128);
    --chart-5: oklch(0.45 0.085 224.283);
    --sidebar: oklch(0.214 0.009 43.1);
    --sidebar-foreground: oklch(0.986 0.002 67.8);
    --sidebar-primary: oklch(0.705 0.213 47.604);
    --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
    --sidebar-accent: oklch(0.268 0.011 36.5);
    --sidebar-accent-foreground: oklch(0.986 0.002 67.8);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.547 0.021 43.1)
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-mono;
  }
}